h1 {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	/* background-image: url(../img/anime_girl.png); */
	/* background-size: 100%; */
	/* background-repeat:no-repeat; */
	/* background-attachment:fixed; */
	margin-left: 6%;
	margin-right: 6%;
	height: 100%;
}
/*
.img-logo {
	opacity: 0.9;
}*/

/*.bg-dark {
	background: rgba(200,200,200, 0.1) !important;
}*/

/*.dropdown-menu {
    background-color: transparent;
}*/

a {
    text-decoration: none;
}

.logo {
	font-family: 'Peralta', cursive;
	text-shadow: 2px 2px 2px #F93211;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #F8E78C;
}

.dropdown li a {
	color: #F8E78C;
}

.text-color {
	color: #F8E78C !important;
}

.card-header {
	font-family: 'Peralta', cursive;
}

/*.card {
	background-color: rgba(255,255,255,0.1) !important;
}*/

.backtop {
    position: end-0;
}

.position {
    margin-left: 30%;
}

a.mucluc {
    width: 9.5rem;
    background-color: #676464;
    height: 2.5rem;
    padding: .375rem .5rem;
    border: ghostwhite;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
}

.row img {
    /* width: 25%; */
}

a.mucluc-red {
    width: 14.5rem;
    background-color: #941B1B;
    height: 2.5rem;
    padding: .375rem .5rem;
    user-select: none;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
}

a.mucluc-red:hover {
    background-color: #868282;
}

a.mucluc:hover {
    background-color: #868282;
}

.invalid-feedback {
    display: inline-block;
}

footer{
    position: relative;
    bottom: 0;
}

#update_book {
    width: 10rem;
}

#upload_chapter {
    width: 10rem;
}

.input-group-btn {
    position: relative;
    white-space: nowrap;
    font-size: 0;
}

#choose-page-dropdown-menu {
    padding: 0 0;
}