{% extends "account_base.html" %}

{% block title %}
	Books Store - Login
{% endblock title %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<div class="card bg-dark">
				<div class="card-header text-center text-color">
					<h3>Log In</h3>
				</div>
				<div class="card-body">
					<form action="" method="post" novalidate="">
						{% csrf_token %}
						{% include "includes/form.html" %}
						<div class="d-grid mt-4">
							<button class="btn btn-success text-color">Login</button>
						</div>
					</form>
				</div>
				<div class="card-footer justify-content-center">
					<div class="row">
						<p class="col-md-4 text-end text-color">Haven't you aready account?</p>
						<a href="{% url 'signup' %}" class="col-md-4 text-color text-center">Sign Up</a>
						<a href="{% url 'password_reset' %}" class="col-md-4 text-color">Forgot Password?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}