{% extends "account_base.html" %}

{% block title %}
	Books Store - Change Password Complete
{% endblock title %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<div class="card text-color">
				<div class="card-header text-center text-color">
					<h3>Books Store</h3>
				</div>
				<div class="card-body">
					<div class="card-title">
						<h3 class="text-color">Password changed!</h3>
					</div>
					<div class="alert alert-success text-color" role="alert">
						You have successfully changed your password! You may now process to log in.
					</div>
					<div class="d-grid">
						<a href="{% url 'login' %}" class="btn btn-success btn-block text-color">Return to log in</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}