{% extends "account_base.html" %}

{% block title %}
	Books Store - Change Pasword Done
{% endblock title %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<div class="card bg-dark">
				<div class="card-header text-center text-color">
					<h3>Books Store</h3>
				</div>
				<div class="card-body">
					<div class="card-title">
						<h4 class="text-center text-color">Change Password</h4>
					</div>
					<div class="alert alert-success text-color" role="alert">
						<strong>Successfully!</strong> Your password has been changed.
					</div>
					<div class="d-grid">
						<a href="{% url 'home' %}" class="btn btn-success text-color">Return to homepage</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
{% endblock content %}