{% extends "account_base.html" %}

{% block title %}
	Books Store - Change Password
{% endblock title %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<div class="card bg-dark">
				<div class="card-header text-center text-color">
					<h3>Books Store</h3>
				</div>
				<div class="card-body">
					{% if validlink %}
					    <div class="card-title text-center text-color">
							<h3>Change password for @{{ form.user.username }}</h3>
						</div>
						<form action="" method="post" novalidate="">
							{% csrf_token %}
							{% include "includes/form.html" %}
							<div class="d-grid mt-4">
								<button class="btn btn-success text-color" type="submit">Change password</button>
							</div>
						</form>
					{% else %}
					    <div class="card-title">
					    	<h3 class="text-color">Reset your password</h3>
					    </div>
					    <div class="alert alert-danger text-color" role="alert">
					    	It looks like you clicked on an invalid password reset link. Please try again.
					    </div>
					    <a href="{% url 'password_reset' %}" class="btn btn-secondary text-color">Request a new password reset link.</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}