{% extends "base.html" %}

{% load static %}

{% block title %}
	Books Store - Upload Chapter
{% endblock title %}

{% block stylesheet %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock stylesheet %}

{% block javascript %}
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
	<script>
		var simplemde = new SimpleMDE();
	</script>
{% endblock javascript %}

{% block content %}
	<form action="" method="post" class="" novalidate="">
		{% csrf_token %}
		{% include "includes/form.html" %}
		<button class="btn btn-success text-color" type="submit">Upload Chapter</button>
	</form>
{% endblock content %}
